
  <div class="card">
    <div class="card-body">

        <div class="table-wrapper-2">

            <!--Table-->
            <table class="table table-responsive-md">
                <thead class="mdb-color lighten-4">
                    <tr>
                        <th class="th-lg">Unit Number</th>
                        <th class="th-lg">Hours Meter</th>
                        <th class="th-lg">Pre-Trip</th>
                        <th class="th-lg">Post-Trip</th>
                        <th class="th-lg">Idle</th>
                        <th class="th-lg">Description</th>
                        <th class="th-lg">Assigned User</th>
                        <th class="th-lg">User Signature</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">410591</th>
                        <td><input type= "textbox" width = "5px"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type = "textarea" row= "4" colum= "50"></td>
                        <td>Alex Uncleback</td>
                        <!-- <td><button type="button" class="btn btn-yellow" (click) = "openSignatureDia">Signature</button></td> -->
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Anna</td>
                        <td>Wintour</td>
                        <td>United Kingdom</td>
                        <td>London</td>
                        <td>Frontend Developer</td>
                        <td><button type="submit" class="btn btn-outline-warning waves-effect"><a href="#">Signature</a></button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tom</td>
                        <td>Bond</td>
                        <td>Spain</td>
                        <td>Madrid</td>
                        <td>Photographer</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Jerry</td>
                        <td>Horwitz</td>
                        <td>Italy</td>
                        <td>Bari</td>
                        <td>Editor-in-chief</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Janis</td>
                        <td>Joplin</td>
                        <td>Poland</td>
                        <td>Warsaw</td>
                        <td>Video Maker</td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Gary</td>
                        <td>Winogrand</td>
                        <td>Germany</td>
                        <td>Berlin</td>
                        <td>Photographer</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Angie</td>
                        <td>Smith</td>
                        <td>USA</td>
                        <td>San Francisco</td>
                        <td>Teacher</td>
                        <td>52</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>John</td>
                        <td>Mattis</td>
                        <td>France</td>
                        <td>Paris</td>
                        <td>Actor</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Otto</td>
                        <td>Morris</td>
                        <td>Germany</td>
                        <td>Munich</td>
                        <td>Singer</td>
                        <td>35</td>
                    </tr>
                </tbody>
            </table>
            <!--Table-->

        </div>

    </div>
</div>

