
  <div class="card">
        <div class="card-body">
    
            <div class="table-wrapper-2">
    
                <!--Table-->
                <table class="table table-responsive-md">
                    <thead class="mdb-color lighten-4 ">
                        <tr>
    
                            <th class="th-lg">Unit Number</th>
                            <th class="th-lg hoursSmall">Hours Meter</th>
                            <th class="th-lg">Pre-Trip</th>
                            <th class="th-lg">Post-Trip</th>
                            <th class="th-lg">Description</th>
                            <th class="th-lg">Assigned User</th>
                            <th class="th-lg">User Signature</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">410591</th>
                            <td><input type= "textbox" style="width:50px"></td>
                            <td><input type="checkbox" style="size: 30px"></td>
                            <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                            <td>Kait Masden</td>
                            <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>
                        </tr>
                        <tr class = "table-warning">
                                <th scope="row">876979</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><textarea row = "100" column = "50"></textarea></td>
                                <td>John Schulz</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr>
                                <th scope="row">654643</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Laura Kristie</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr class = "table-danger">
                                <th scope="row">432424</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Alex Uncleback</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr>
                                <th scope="row">414561</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>David Leeds</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr>
                                <th scope="row">410591</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Chuck McGinnis</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr>
                                <th scope="row">410591</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Kurt Pitts</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr>
                                <th scope="row">410591</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Joe Roads</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                        <tr class = "table-warning">
                                <th scope="row">410591</th>
                                <td><input type= "textbox" style="width:50px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                                <td><input type="checkbox" style="size: 30px"></td>
                            <td><textarea row = "100" column = "50"></textarea></td>
                                <td>Neil Jeff</td>
                                <td><button type="submit" class="btn btn-outline-warning waves-effect">Signature</button></td>                        </tr>
                    </tbody>
                </table>
                <!--Table-->
    
            </div>
    
        </div>
    </div>

