<div class="card">
  <div class="card-body">

    <div class="card">
      <div class="card-body">

        <div class="table-wrapper-2">

          <!--Table-->
          <table class="table table-responsive-md">
            <thead class="mdb-color lighten-4" style="margin:auto; padding:auto">
              <tr>

                <th class="th-lg">Unit Number</th>
                <th class="th-lg hoursSmall">Hours Meter</th>
                <th class="th-lg">Pre-Trip</th>
                <th class="th-lg">Post-Trip</th>
                <th class="th-lg">Description</th>
                <th class="th-lg">Assigned User</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items" [ngClass]="item.class">

                <th scope="row">
                  {{item.id}}
                </th>
                <td>
                  <input type="textbox" style="width:50px">
                </td>
                <td>
                  <input type="checkbox" style="size: 30px">
                </td>
                <td>
                  <input type="checkbox" style="size: 30px">
                </td>
                <td>
                  <textarea row="100" column="50" [value]="item.description"></textarea>
                </td>
                <td>{{item.name}}</td>
              </tr>
            </tbody>
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
    <div style="border-style: solid">
      <span class="pull-left" style="margin:5px,0px,0px,5px">Manager Name: Terry Minic</span>
      <span class="pull-right" style="margin:5px,5px,0px,0px">Date:8-13-18</span>
      <div>
        <app-signature-dialog></app-signature-dialog>
      </div>
    </div>
  </div>
</div>
<!-- <div mdbModal #basicModal="mdb-modal" (onHidden)="submittedSignature($event)" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h2 class="modal-title w-100" id="myModalLabel">Sign Here</h2>
        </div>
        <div class="modal-body">
        </div>
        <app-signature-dialog></app-signature-dialog>
        <div class="modal-footer">
        </div>
        <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (focus)="isClosing('close')" (click)="basicModal.hide()"
          mdbWavesEffect>Close</button>
        <button (focus)="isClosing('save')" (click)="basicModal.hide()" type="button" class="btn btn-primary relative waves-light"
          mdbWavesEffect>Submit</button>
      </div>
    </div>
  </div>  -->
