<!--Accordion-->
<h1>Current Requests: </h1>

<div id="accordion">
    <div class="card">
        <div class="card-header text-white bg-warning mb-3" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed1" (click)="test1.toggle()">
                Work Order number: <a class="font-weight-bold"> 67458 </a>      Status:  <a class="font-weight-bold"> Pending </a>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </button>
            </h5>
        </div>
      
        <div class="c1" [mdbCollapse]="isCollapsed" #test1="bs-collapse" >
           <div class="card-body">
                <p>Submitted by: John Schulz</p>
                <p>Date Submitted: 7/12/18</p>
                <p>Vehicle Type: Van</p>
                <p>Description: The front right tire needs to be replaced.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
           <h5 class="mb-0">
              <button class="btn btn-link collapsed2"(click)="test2.toggle()">
                Work Order Number:  <a class="font-weight-bold"> 890442 </a>   Status:  <a class="font-weight-bold"> Pending </a>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div class="c2" [mdbCollapse]="isCollapsed" #test2="bs-collapse" (showBsCollapse)="showBsCollapse()" (shownBsCollapse)="shownBsCollapse()" (hideBsCollapse)="hideBsCollapse()" (hiddenBsCollapse)="hiddenBsCollapse()">
            <div class="card-body">
                    <p>Submitted by: Kait Masden</p>
                    <p>Date Submitted: 7/12/18</p>
                    <p>Vehicle Type: Tug</p>
                    <p>Description: The spark plugs need to be replaced.</p>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card-header text-white bg-danger mb-3" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed3" (click)="test3.toggle()">
                Work Order Number:  <a class="font-weight-bold"> 890903 </a>   Status:  <a class="font-weight-bold"> In Progress </a>
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div class="c3" [mdbCollapse]="isCollapsed" #test3="bs-collapse" >
            <div class="card-body">
                    <p>Submitted by: Alex Uncleback</p>
                    <p>Vehicle Type: Van</p>
                    <p>Date Submitted: 7/12/18</p>
                    <p>Description: The engine isn't starting.</p>
            </div>
          </div>
        </div>
      </div>
