<!--Accordion-->
<h1>Pending: </h1>

<!--Accordion wrapper-->
<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="request_card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5 class="mb-0">
                  WorkNumber: 6754356  <i class="fa fa-angle-down rotate-icon"></i>
              </h5>
          </a>
      </div>
      <!-- Card body -->
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
          <div class="card-body">
            Submitted by:
            Date Submitted:
            Description: 
          </div>
      </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="request_card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5 class="mb-0">
                WorkNumber: 6754356 <i class="fa fa-angle-down rotate-icon"></i>
              </h5>
          </a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
          <div class="card-body">
            Submitted by:
            Date Submitted:
            Description: 
          </div>
      </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="request_card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingThree">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5 class="mb-0">
                  Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i>
              </h5>
          </a>
      </div>

      <!-- Card body -->
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
          <div class="card-body">
            Submitted by:
            Date Submitted:
            Description: 
          </div>
      </div>
  </div>
  <!-- Accordion card -->
</div>
<!--/.Accordion wrapper-->