<!--Panel-->
<div class="card">
  <h3 class="card-header unique-color white-text">Pre Check List</h3>
  <div class="card-body">
    <p class="card-text">Please ensure that the following are in acceptable condition:</p>

    <div class="md-form">
      <input mdbInputDirective type="text" id="form1" class="form-control">
      <label for="form1" class="">Unit Number #</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Start Engine</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Breaks</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Horn</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Steering wheel</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Windshield Wipers</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Fuel Level</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Lights, beacons, reflectors and mirrors</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Wheels/Tires</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Doors and Latches</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Front and rear couplers</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Visual damage</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
      <label class="custom-control-label" for="defaultChecked2">Seat Belt</label>
    </div>
    <!--Material textarea-->
    <div class="md-form amber-textarea active-amber-textarea">
      <textarea type="text" id="form19" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="form19">Comments</label>
    </div>
    <a class="btn white-text stylish-color waves-light" mdbWavesEffect>Submit</a>
  </div>
</div>
<!--/.Panel-->
