<!-- <app-sidenav></app-sidenav> -->
<!--Jumbotron-->
<div class="jumbotron text-center">

  <!--Title-->
  <h1 class="card-title h2-responsive mt-2">
    <strong>TERRY MINIC</strong>
  </h1>
  <hr class="my-4">
  <!--Subtitle-->
  <p class="blue-text mb-4 font-bold">
    <mdb-icon icon="user" size="lg"></mdb-icon> GEMS ID: 8204372</p>

  <!--Text-->
  <div class="d-flex justify-content-center"> 
  </div>
</div>
<!--Jumbotron-->

<!-- Card deck -->
<div class="card-deck">
  <!-- Card -->
  <div class="card mb-4">
    

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/rawpixel-611110-unsplash.jpg" alt="Card image cap">
      <a routerLink="/pre-check" class="white-text nav-link waves-light" mdbWavesEffect>

        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Pre Check</h4>
      <!--Text-->
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Pre Check</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/thumbsup.jpg" alt="Card image cap">
      <a routerLink="/pre-check" class="white-text nav-link waves-light" mdbWavesEffect>

        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Post Check</h4>
      <!--Text-->
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Pre Check</button>

    </div>

  </div>
  <!-- Card -->


</div>
