<!-- <app-sidenav></app-sidenav> -->
<!--Jumbotron-->
<div class="jumbotron text-center">

  <!--Title-->
  <h1 class="card-title h2-responsive mt-2">
    <strong>TERRY MINIC</strong>
  </h1>
  <hr class="my-4">
  <!--Subtitle-->
  <p class="blue-text mb-4 font-bold">
    <mdb-icon icon="user" size="lg"></mdb-icon> GEMS ID: 8204372</p>

  <!--Text-->
  <div class="d-flex justify-content-center">
      Suspendisse maximus tortor at ipsum facilisis, nec finibus nibh mollis. Integer quam purus, iaculis quis enim id, molestie mollis augue. Vestibulum facilisis sed neque non commodo. Pellentesque et rutrum lorem, ac rhoncus lacus. Sed quis pellentesque felis. Maecenas pretium eleifend lorem, vel sollicitudin arcu egestas ut. Suspendisse potenti. In hac habitasse platea dictumst. Pellentesque vulputate hendrerit ipsum, a placerat velit consectetur sit amet. 

  </div>
</div>
<!--Jumbotron-->

<!-- Card deck -->
<div class="card-deck">
  <!-- Card -->
  <div class="card mb-4">
    

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/rawpixel-611110-unsplash.jpg" alt="Card image cap">
      <a routerLink="/maintenence" class="white-text nav-link waves-light" mdbWavesEffect>

        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Pre Check</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/thumbsup.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Post Check</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/img/clock.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask waves-effect waves-light rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">History</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

</div>
