<!-- <app-sidenav></app-sidenav> -->
<!--Jumbotron-->
<div class="jumbotron text-center">

  <!--Title-->
  <h1 class="card-title h2-responsive mt-2">
    <strong>FIRST LAST NAME</strong>
  </h1>
  <!--Subtitle-->
  <p class="blue-text mb-4 font-bold">
    <mdb-icon icon="user" size="lg"></mdb-icon> GEMS ID: 8204372</p>

  <!--Text-->
  <div class="d-flex justify-content-center">
    <p class="card-text mb-3" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Sed ut
      perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    </p>
  </div>

  <hr class="my-4">

  <button type="button" class="btn btn-blue waves-effect">Buy now
    <span class="fa fa-diamond ml-1"></span>
  </button>
  <button type="button" class="btn btn-outline-primary waves-effect">Download
    <i class="fa fa-download ml-1"></i>
  </button>

</div>
<!--Jumbotron-->



<!-- Card deck -->
<div class="card-deck">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/rawpixel-611110-unsplash.jpg" alt="Card image cap">
      <a routerLink="/pre-check" class="white-text nav-link waves-light" mdbWavesEffect>

        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Pre Check</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="/assets/img/thumbsup.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Post Check</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

    </div>

  </div>
  <!-- Card -->


</div>
