<ul class="list-group">
    <li class="list-group-item">Checked out By: Alex Uncleback at 7/8/18 at 07:00 AM</li>
    <li class="list-group-item">Checked in By: Alex Uncleback at 7/8/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Mike Orange at 7/9/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Mike Orange at 7/9/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Andrew Low at 7/9/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Andrew Low at 7/9/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Tina Bell at 7/10/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Tina Bell at 7/10/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Peter Purdue at 7/11/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Peter Purdue at 7/11/18 at 05:30 PM</li>
  </ul>