<ul class="list-group">
    <li class="list-group-item">Checked out By: John Schulz at 7/7/18 at 07:00 AM</li>
    <li class="list-group-item">Checked in By: John Schulz at 7/7/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Tina Bell at 7/8/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Tina Bell at 7/8/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Jane Robin at 7/9/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Jane Robin at 7/9/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Alex Uncleback at 7/10/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Alex Uncleback at 7/10/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Chris Evans at 7/11/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Chris Evans at 7/11/18 at 05:30 PM</li>
    <li class="list-group-item">Checked out By: Chris Hemsworth at 7/12/18 at 09:00 AM</li>
    <li class="list-group-item">Checked in By: Chris Hemsworth at 7/12/18 at 05:30 PM</li>
  </ul>
