<div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <div class="card">
            <div class="view hm-white-slight waves-dark" mdbWavesEffect>
                <img src="/assets/img/rawpixel-611110-unsplash.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                    <div class="mask flex-center rgba-stylish-light"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Pre-trip</h4>
                <p class="card-text">Select to fill out E-ECR for pre-trip check</p>
                <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="view hm-white-slight waves-dark" mdbWavesEffect>
                <img src="/assets/img/thumbsup.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                    <div class="mask flex-center rgba-stylish-light"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Pre-trip</h4>
                <p class="card-text">Select to fill out E-ECR for pre-trip check</p>
                <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="view hm-white-slight waves-dark" mdbWavesEffect>
                <img src="/assets/img/clock.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                    <div class="mask flex-center rgba-stylish-light"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Pre-trip</h4>
                <p class="card-text">Select to fill out E-ECR for pre-trip check</p>
                <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>