<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg elegant-color">
  <mdb-icon icon="camera-retro"></mdb-icon>
  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand white-text" routerLink="/"><mdb-icon icon="check-square-o" size="lg"></mdb-icon> Check & Go</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="" class="white-text nav-link waves-light" mdbWavesEffect> <mdb-icon icon="home" size="lg"></mdb-icon> Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/maintenence" class="white-text nav-link waves-light" mdbWavesEffect><mdb-icon icon="wrench" size="lg"></mdb-icon> Mainenence</a>
      </li>
      <li class="nav-item pull-right">
        <a routerLink="/login" class="white-text nav-link waves-light" mdbWavesEffect><mdb-icon icon="sign-out" size="lg"></mdb-icon> Logout</a>
      </li>

    </ul>
  </links>
  <!-- Links -->

</mdb-navbar>
<!--/.Navbar-->
