/* Application-wide Styles */
h1 {
    color: #66665F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    background-color: #F4F4F4; 
  }

  .col-example {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}
  .secondary-color {
    background-color:#999797 !important;
  }
  .peach-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);    }

  .bluegreen-gradient {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  .orange-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  .grey-gradient {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);  
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
